// * Colors map

$colors: (
  'light': rgb(255, 255, 255),
  'accent': rgb(220, 86, 197),
  'modal-bg': rgb(255, 242, 253),
  'form-text': rgb(147, 147, 147),
  'form-bg': rgba(255, 255, 255, 0.2),
  'info': rgb(14, 14, 14),
  'btn-bg': rgb(76, 0, 254),
  'header-bg-color': rgba(11, 11, 11, 0.5),
  'cards-border-color': rgba(220, 86, 197, 0.3),
  'body-bg-color': #000000,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

//* Fonts
$main-font: Montserrat, sans-serif;

//* Cubic
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
