// * Colors map

$colors: (
  'light': #ffffff,
  'accent': #dc56c5,
  'modal-bg': #fff2fd,
  'form-text': #939393,
  'form-bg': rgba(255, 255, 255, 0.2),
  'info': #0e0e0e,
  'btn-bg': #4c00fe,
  'header-bg-color': rgba(11, 11, 11, 0.5),
  'cards-border-color': rgba(220, 86, 197, 0.3),
  'body-bg-color': #000000,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

//* Fonts
$main-font: Montserrat, sans-serif;

//* Cubic
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
