.event-text {
  font-weight: 900;
  text-align: center;
  color: getColor(accent);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
  }
  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 50px;
  }
}
