.modal-content {
  position: absolute;
  z-index: 10;
  top: 200px;
  transform: scale(0.7);
  width: 272px;
  margin: auto;
  padding: 75px 14px 104px;
  border-radius: 150px 0px;
  background-color: getColor('modal-bg');
  animation-name: zoom;
  animation-duration: 0.6s;
  @keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  @include for-size('tablet') {
    width: 595px;
    padding: 28px 17px 56px 50px;
    border-radius: 300px 0px;
    top: 160px;
  }

  @include for-size('desktop') {
    width: 930px;
    padding: 62px 30px;
    border-radius: 300px 0px;
    top: 200px;
  }
}
