.modal-content__button-more {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: getColor('btn-bg');
  background-color: transparent;
  padding: 10px 3px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid getColor('btn-bg');
  cursor: pointer;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  &:hover,
  &:focus {
    background-color: getColor('accent');
    color: getColor('light');
    border-color: getColor('accent');
  }
}
