.country-list__item {
  color: getColor('light');
  font-family: Montserrat, sans-serif;
  @include fonts(400, 16px, 1.25);

  transition: color 250ms $cubic;

  &:hover {
    color: getColor('accent');
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
