.form {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-right: auto;
  margin-left: auto;

  @include for-size('tablet') {
    width: 570px;
    flex-direction: row;
  }

  &__field {
    height: 40px;
    position: relative;
    fill: getColor('form-text');

    &:nth-child(1) {
      margin-bottom: 25px;

      @include for-size('tablet') {
        margin-bottom: 0px;
        margin-right: 30px;
      }
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    padding: 10px 30px;
    background-color: getColor('form-bg');
    border: none;
    border-radius: 20px;

    font-family: Montserrat;
    font-size: 16px;
    line-height: 1.25;
    color: getColor('light');
    outline: none;

    &::placeholder {
      color: getColor('form-text');
    }

    &:hover ~ .form__icon--search,
    &:focus ~ .form__icon--search {
      transform: rotate(360deg);
      fill: getColor('light');
    }

    &:focus ~ .form__icon--country {
      fill: getColor('light');

      transform: rotate(180deg);
    }
  }

  &__icon--search {
    position: absolute;
    right: 30px;
    top: 14px;
    width: 15px;
    height: 10px;

    fill: inherit;

    transition: transform 250ms $cubic;
  }

  &__icon--country {
    position: absolute;
    right: 30px;
    top: 14px;
    width: 12px;
    height: 12px;

    fill: inherit;
    pointer-events: none;

    transition: transform 250ms $cubic;
  }

  &__overflow {
    height: 250px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1000;
    pointer-events: none;

    &.pointer-open-js {
      pointer-events: auto;
    }
  }

  &__list {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow: scroll;
    transform: translateY(-100%);
    transition: 250ms $cubic;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.74) 20%,
      rgba(220, 86, 197, 0.8561799719887955) 43%,
      rgba(255, 255, 255, 0.2) 58%
    );
    cursor: pointer;
    border: 1px solid getColor('form-bg');
    border-radius: 50px 0px;
    padding: 20px 20px;

    &.shown {
      transform: translateY(0);
    }

    &::-webkit-scrollbar {
      width: 0px;
    }
  }
}

.country-list__item {
  color: getColor('light');
  font-family: Montserrat, sans-serif;
  @include fonts(400, 16px, 1.25);

  transition: color 250ms $cubic;

  &:hover {
    color: getColor('accent');
  }

  &:not(:last-child) {
    margin-bottom: 5px;
  }
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
