body {
  background-color: getColor('body-bg-color');
  background-repeat: no-repeat;
  background-blend-mode: normal;

  @include for-size(tablet) {
    background-image: url('../../src/images/bg-images/ellipse_left_centre.png'),
      url('../../src/images/bg-images/ellipse_left_top_centre_tablet.png'),
      url('../../src/images/bg-images/ellipse_left_top_border_tablet.png'),
      url('../../src/images/bg-images/line_left_top_tablet.png'),
      url('../../src/images/bg-images/ellipse_left_bottom_border_tablet.png'),
      url('../../src/images/bg-images/ellipse_left_bottom_centre_tablet.png'),
      url('../../src/images/bg-images/Line_1.svg'),
      url('../../src/images/bg-images/ellipse_right_top_tablet.png'),
      url('../../src/images/bg-images/ellipse_right_bottom_tablet.png'),
      url('../../src/images/bg-images/ellipse_right_border_tablet.png'),
      url('../../src/images/bg-images/ellipse_right_centre_tablet.png'),
      url('../../src/images/bg-images/line_right_bottom_tablet.png'),
      url('../../src/images/bg-images/line_right_top_tablet.png');

    background-position: left 23px top 1585px, left 46px top 492px,
      left 3.5px top 450px, left 86px top 0px, left 23px bottom 0px,
      left 46px bottom 0px, left 86px top 595px, right 24px top 784px,
      right 23px bottom 250px, right 24px top 1525px, right 47px top 1548px,
      right 83px top 1651px, right 83px top 0px;

    background-size: auto auto, auto auto, auto auto, auto auto, auto auto,
      auto auto, 1px 79.6%, auto auto, auto auto, auto auto, auto auto, 1px 100%,
      auto auto;
  }

  @include for-size(desktop) {
    background-image: url('../../src/images/bg-images/ellipse_left_centre.png'),
      url('../../src/images/bg-images/ellipse_left_top_centre.png'),
      url('../../src/images/bg-images/ellipse_left_top_border.png'),
      url('../../src/images/bg-images/line_left_top.png'),
      url('../../src/images/bg-images/ellipse_left_bottom_border.png'),
      url('../../src/images/bg-images/ellipse_left_bottom_centre.png'),
      url('../../src/images/bg-images/line_left_bottom.png'),
      url('../../src/images/bg-images/ellipse_right_top.png'),
      url('../../src/images/bg-images/ellipse_right_bottom.png'),
      url('../../src/images/bg-images/ellipse_right_border.png'),
      url('../../src/images/bg-images/ellipse_right_centre.png'),
      url('../../src/images/bg-images/line_right_bottom.png'),
      url('../../src/images/bg-images/line_right_top.png');

    background-position: left 30px top 1254px, left 47px top 782px,
      left 7px top 742px, left 115px top 0px, left 7px bottom 0px,
      left 47px bottom 0px, left 115px top 958px, right 30px top 490px,
      right 30px bottom 176px, right 7px top 1267px, right 47px top 1307px,
      right 115px top 1483px, right 115px top 0px;

    background-size: auto auto, auto auto, auto auto, auto auto, auto auto,
      auto auto, 1px 58.2%, auto auto, auto auto, auto auto, auto auto, 1px 100%,
      auto auto;
  }

  // @include for-size(tablet) {
  //   width: 768px;
  //   height: 2582px;
  //   background-position: 0 364px;

  //   background-image: url('../../src/images/our-images/bg-body_tablet.jpg');

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (-webkit-min-device-pixel-ratio: 2),
  //     screen and (-o-min-device-pixel-ratio: 2/1),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url('../../src/images/our-images/bg-body_tablet@2x.jpg');
  //   }
  // }

  // @include for-size(desktop) {
  //   width: 1280px;
  //   height: 1930px;
  //   background-position: 0 446px;

  //   background-image: url('../../src/images/our-images/bg-body.jpg');

  //   @media screen and (min-device-pixel-ratio: 2),
  //     screen and (-webkit-min-device-pixel-ratio: 2),
  //     screen and (-o-min-device-pixel-ratio: 2/1),
  //     screen and (min-resolution: 192dpi),
  //     screen and (min-resolution: 2dppx) {
  //     background-image: url('../../src/images/our-images/bg-body@2x.jpg');
  //   }
  // }
}

// body::after {
//   content: '';
//   position: absolute;
//   top: 0px;
//   z-index: 1;
//   @include for-size(tablet) {
//     background: url('../../src/images/our-images/decor_tablet.png');
//     width: 595px;
//     height: 2946px;
//     left: 86px;
//   }

//   @include for-size(desktop) {
//     background: url('../../src/images/our-images/decor.png');
//     width: 1050px;
//     height: 2376px;
//     left: 115px;
//   }
// }
