footer {
  padding-top: 67px;
  padding-bottom: 27px;

  @include for-size('tablet') {
    padding-top: 65px;
    padding-bottom: 18px;
  }

  @include for-size('desktop') {
    padding-top: 85px;
  }
}

.footer-container {
  display: block;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  @include for-size('tablet') {
    display: flex;
    justify-content: center;
  }
}

.footer-text {
  color: getColor('form-text');
}

.footer-container__partTwo {
  display: flex;
  justify-content: center;

  padding-left: 3px;
}

.footer__symbol-heart {
  color: rgba($color: #d81204, $alpha: 2);
}
